<div class="card">
<div class="card-body">
<h3 class="card-title"><%if @item.user == current_user %>You<% else %><%= @item.user.username %><% end %> have added this item to your wishlist:</h3>
<br>
<p>Name: <%= @item.name %></p>
<p>Price: <%= @item.price %></p>
<p>Sold at: <%= @item.store %></p>
<p>Category: <%= @item.category.name %></p>

<div class="<% if @item.user == current_user %>click<% else %>no-click<% end %>">
<a href="/items/<%= @item.id %>/edit">Edit Item</a><br>
<br>
<div class="button-2">
  <form action="/items/<%= @item.id %>" method="POST">
    <input type="hidden" name="_method" value="delete">
    <input class="submit" type="submit" value="Delete Item" id="Delete Item">
  </form>
  <br>
  <div class="button-3" id="Go Back"><a href="/items">Go Back to the Wishlist</a></div><br>
        <button type="submit" class="btn btn-light"><a href="/logout">Log Out?</a></button><br>
</div>
</div>
</div>
</div>